.glBannerGlobal {
    color: var(--contrast-color-white);
    border-bottom: 3px solid var(--main-color-dark-turquoise);
}

.glLogoAccueil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-light-green);
}

.glLogo {
    width: 8em;
    aspect-ratio: 1;
}