.glVoletSelectionOuvert {
    margin: 1em auto 0;
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: fit-content;
    background-color: var(--contrast-color-light-grey);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    position: relative;
}

.glVoletSelectionBtnFermeture {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: transparent;
    color: var(--main-color-dark-turquoise);
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.glVoletSelectionBtnFermeture:hover {
    color: var(--main-color-light-green);
    background: none;
}

.glVoletSelectionBtnOuverture {
    margin-top: 1em;
}

.glClassementGlobal,
.glGammeGlobal,
.SelNumberGlobal,
.glChoixMultipleGlobal {
    padding-top: 1.5em;
}

.glChoixMultipleGlobal {
    width: fit-content;
    margin: auto;
}

.glChoixMultipleListe {
    text-align: left;
}