.glPanierOpen {
    margin: 1em auto 0;
    padding: 1em;
    width: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: var(--contrast-color-light-grey);
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    position: relative;
}

.glPanierBtnFermeture {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: transparent;
    color: var(--main-color-dark-turquoise);
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.glPanierBtnFermeture:hover {
    color: var(--main-color-light-green);
    background: none;
}

.glPanierAddition {
    text-align: right;
}

.glPanierBtnOuverture {
    margin-top: 1em;
}